:root {
  --background-color: #282c34;
}

body {
  background-color: var(--background-color);
}

/* App */
.App {
  text-align: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

/* Home */
.Home {

}

/* LyricsPage */
.LyricsPage {
  color: white;
}

/* TrackCard */
.TrackCard {
  background-color: white;
  padding: 20px;
  font-size: 12px
  /* width: ; */
}

.TrackCard-link {
  width: 50%;
  background-color: lightskyblue;
  color: white;
}

/* SearchButton */
.SearchButton {

}

/* Site Formatting */
.top-tracks-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin: 0 50px 50px 50px;
}

@media (max-width: 768px) {
  .top-tracks-div {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
  }
}


/* Miscellaneous */
.white {
  color: #FFF;
}