.App {
  --background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.App-link {
  color: #61dafb;
}

.text {
  color: #FFF;
}

.TrackCard {
  background-color: white;
}

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */

